/*IMPORT SECTION*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

/*Gobal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
header nav {
  margin: 30px;
}

header nav ul {
  overflow: auto;
  list-style-type: none;
}

header nav ul li {
  height: 26px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

header nav ul li:last-child {
  border-right: none;
}

header nav ul li a {
  text-decoration: none;
  color: #ccc !important;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header nav ul li a:hover {
  color: #666!important;
  text-decoration: none!important;
}

header nav ul li.active a {
  font-weight: bold;
  color: #333!important;
}
header{
  display: flex!important;
  width: 100%;
  justify-content: space-between;
  background-color: #08605F;
  height: 80px;
}
.logo{
  display: block;
  margin-left: 10%;
  margin-top: -18px;
}
#pp{
  margin-left: -20%;
  margin-bottom: 50%;
  width: 75px;
  border-radius: 50%;
  margin-top: 2%;
}
#logo img{
height: 75px;
width: 75px;
border-radius: 50%;
margin-bottom: -190%;
margin-left: -60%;
}

/*Searsh Bar*/
#loupe{
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: none;
}

#search-input{
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 75%;
}

/*mailbox*/

.new-message{
    background-color: #aaa;
    border: none;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}

#allpage{
    display: flex;
    justify-content: space-between;
}

.mailbox{
    background-color: aqua;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
}

.menu{
    background-color: #666;
    width: 15%;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    align-content: center;
}

#menubutton{
    display:flex;
    flex-direction: column;
}

#menubutton button{
    margin: 0px 0px 20px 0px;
    border: none;
    border-radius: 5px;
    background-color: #aaa;
}

#topmail{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    border-radius: 10px 10px 0px 0px;
    color: white;
    padding: 10px;
}

#topmail div button{
    background-color: transparent;
    border: none;
    padding: 5px 10px 10px 10px;
}

#topmail button{
    background-color: transparent;
    border: none;
    padding: 0px 10px 10px 10px;
}

#topmail button img{
    height: 30px;
    width: 30px;
}

#topmail div button img{
    height: 15px;
    width: 15px;
}

.onemail{
    background-color: #aaa;
    margin: 0px;
    padding: 5px;
    border-bottom: 2px solid #666;
}

/*footer*/
footer{
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #08605F;
}
.foot{
  list-style-type: disc;  
}
.foot li{
  color: white;
  font-size: 20px;
}
.foot li a{
  color: white;
  animation: 0.5s;
}
footer div{
  padding-left: 10px;
  padding-right: 10px;
}
footer div span{
  font-size: 2em;
  color: white;
  text-decoration: underline;
}
.foot li a:hover{
  text-decoration: underline;
}