/*IMPORT SECTION*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

/*Gobal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
header nav {
  margin: 30px;
}

header nav ul {
  overflow: auto;
  list-style-type: none;
  height: 56px;
}

header nav ul li {
  height: 26px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

header nav ul li:last-child {
  border-right: none;
}

header nav ul li a {
  text-decoration: none;
  color: #ccc !important;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header nav ul li a:hover {
  color: #666!important;
  text-decoration: none!important;
}

header nav ul li.active a {
  font-weight: bold;
  color: #333!important;
}
header{
  display: flex!important;
  width: 100%;
  justify-content: space-between;
  background-color: #08605F;
  height: 80px;
}
.logo{
  display: block;
  margin-left: 10%;
  margin-top: -18px;
}
#pp{
  margin-left: -20%;
  margin-bottom: 50%;
  width: 75px;
  border-radius: 50%;
  margin-top: 2%;
}
#logo img{
height: 75px;
width: 75px;
border-radius: 50%;
margin-bottom: -190%;
margin-left: -60%;
}

/*notes*/
h3{
  text-align: center;
  text-transform: uppercase;
  color: #08605F;
  text-decoration: underline;
}
li{
  color: #2c3e50;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 1px;
  font-family: 'Raleway', serif;
  padding-top: 5px;
  padding-bottom: 5px;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
  background-color:white;
  color:#000;
}
section{
  text-align:center;
}

.contain{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
}
/*ICON GLOBAL SETUP*/
.size{
  height: 30px;
  width: 30px;
  margin-right: 92px;
}
#icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#icons a{
    margin-top: 6px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    height: 30px;
}
.fa {
    display: table !important;
    padding: 20px;
    font-size: 30px;
    width: 30px !important;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 50%;
  }
  
  /* Icon Hover Effect*/
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Brand specification */
  
  /* Facebook */
  .fa-facebook {
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    color: white;
  }
  /*Instagram*/
  .fa-instagram{
    color: white;
  }

/*Schedules part*/
.box{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
  
  }
  /*Shedules Chelouuuuuuuu*/

.schedules{
    height: 92%;
    width: 100%;
}
  /*carousel style*/
  .carousel{
    max-height:300px ;
  }
.sizing{
  width: 100%;
  height: 250px !important;
}
.carousel-caption a{
  text-decoration: none;
  color: white;
}
.carousel-caption a:hover{
  text-decoration: none;
  color: white;
}
.carousel-caption h3 ,p{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-bottom: 10px;
  padding-top: 10px;
}

.container-schedules {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: fff;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #08605F;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
  color : black;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: aqua;
  }
}

/*footer*/
footer{
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #08605F;
}
.foot{
  list-style-type: disc;  
}
.foot li{
  color: white;
  font-size: 20px;
}
.foot li a{
  color: white;
  animation: 0.5s;
}
footer div{
  padding-left: 10px;
  padding-right: 10px;
}
footer div span{
  font-size: 2em;
  color: white;
  text-decoration: underline;
}
.foot li a:hover{
  text-decoration: underline;
}