/*IMPORT SECTION*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

/*Gobal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER PART*/
header{
    display: flex!important;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #08605F;
}
.logo{
    display: block;
    margin-left: 10%;
    margin-top: -18px;
}
#pp{
    margin-left: -20%;
    margin-bottom: 5%;
    width: 75px;
    border-radius: 50%;
    margin-top: 2%;
}
#logo img{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-bottom: -215%;
  margin-left: -60%;
}
.nav{
    width: 50%; 
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 150%; 
}
.nav a{
    text-decoration: none;
    color: white;
}
.nav a:hover{
  color: white;
}

/*Schedule*/

.div-button-calendar{
  display: flex;
  justify-content: right;
}

.button-calendar{
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  color: white;
  background-color:#777;
  border-radius: 5px;
}

* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #666;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 20px;
  font-size:15px;
  color: #777;
}

/* Use later
.days li .active {
  padding: 5px;
  background: #08605F;
  color: white !important
}*/

.active-day{
    background-color: #08605F;
    color: white !important;
}

.last-month{
    font-style: italic;
    background-color: rgb(203, 203, 203);
}

@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}