*{
    margin: 0;
}



/*header*/
header nav {
  margin: 30px;
}

header nav ul {
  overflow: auto;
  list-style-type: none;
  height: 120px;
}

header nav ul li {
  height: 26px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

header nav ul li:last-child {
  border-right: none;
}

header nav ul li a, header nav ul li div button{
  background-color: #08605F;
  text-decoration: none;
  color: #ccc !important;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header nav ul li a:hover, header nav ul li div button:hover {
  color: #666!important;
  text-decoration: none!important;
}

/*header nav ul li.active a*/ header nav ul li div button{
  font-weight: bold;
  color: #333!important;
}
header{
  display: flex!important;
  width: 100%;
  justify-content: space-between;
  background-color: #08605F;
  height: 80px;
}
.logo{
  display: block;
  margin-left: 10%;
  margin-top: -18px;
}
#pp{
  position: relative;
  z-index: 10;
  margin-left: -20%;
  margin-bottom: 50%;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-top: 2%;
  transition: 0.5s;
}
#logo img{
position: relative;
z-index: 8;
height: 75px;
width: 75px;
border-radius: 50%;
margin-bottom: -146%;
margin-left: -60%;
transition: 0.5s;
}

#pp:hover, #logo img:hover{
  width: 100px;
  height: 100px;
  z-index: 10000;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 153px;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  background-color: rgba(0, 0, 0, 0);
  margin-left: -23px;
  border-radius: 5px;
  border: 0.5px solid #177e89;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding-left: 10px;
  
}
.dropdown-content a:hover {
  color: rgb(219, 219, 219) !important;
  background-color: #177e89;
}
button{
    border: none;
    background-color: white;
}
.item{
  font-size: 15px;
}    
    
      li{
        color: #2c3e50;
        font-size: 18px;
        line-height: 30px;
        text-align: justify;
        letter-spacing: 1px;
        font-family: 'Raleway', serif;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    /*news*/
.global{
    margin-top: 30px;
}
.top{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.top img{
    margin: 10px 0px 0px 10px;
    padding:  10px 10px 10px 10px;
    background-color: #08605F;
    border-radius: 5PX;
}
.title{
    font-family: 'Nunito', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.title h1{
    font-size: 40px;
    padding-bottom: 5px;
    text-decoration: underline;
    color: #177e89;
    letter-spacing: 5px;
}
.title h2{
    font-size: 1.3em;
    padding-top: 3%;
}
.text{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    line-height: 30px;
}
/*footer*/
footer{
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #08605F;
}
.foot{
  list-style-type: disc;  
}
.foot li{
  color: white;
  font-size: 20px;
}
.foot li a{
  color: white;
  animation: 0.5s;
}
footer div{
  padding-left: 10px;
  padding-right: 10px;
}
footer div span{
  font-size: 2em;
  color: white;
  text-decoration: underline;
}
.foot li a:hover{
  text-decoration: underline;
}
.fa{
  text-decoration: none;
}
/*cards*/
.vign{
  display: flex;
  justify-content: space-evenly;
}
.card{
  width: 30%;
  height: 300px;
  display: block;
  padding: 5px 5px 5px 5px ;
  background-color: #08605F;
  margin-bottom: 10px;
  border-radius: 10px;
}
.card img{
  width: 100%;
  height: 90%;
}
  .card h2{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-decoration: underline;
    color: #ffff;
  }
  #separation{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #08605F;
    font-size: 40px;
    text-decoration: underline;
  }