*{
    margin: 0;
}
.top{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.top img{
    margin: 10px 0px 0px 10px;
    border: 3px Solid black;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
}
.title h1{
    font-size: 70px;
    padding-bottom: 5px;
}
.title h2{
    padding-top: 3%;
}


/*header*/
header nav {
    margin: 50px;
  }
  
  header nav ul {
    overflow: auto;
    list-style-type: none;
  }
  
  header nav ul li {
    height: 26px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #aaa;
    padding: 0 20px;
  }
  
  header nav ul li:last-child {
    border-right: none;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #ccc !important;
    font: 25px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
  
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  header nav ul li a:hover {
    color: #666!important;
    text-decoration: none!important;
  }
  
  header nav ul li.active a {
    font-weight: bold;
    color: #333!important;
  }
  header{
    display: flex!important;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #08605F;
  }
  .logo{
    display: block;
    margin-left: 10%;
    margin-top: -18px;
  }
  #pp{
    margin-left: -20%;
    margin-bottom: 50%;
    width: 75px;
    border-radius: 50%;
    margin-top: 2%;
  }
  #logo img{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-bottom: -190%;
  margin-left: -60%;
  }

/*notes*/
h3{
    text-align: center;
    text-transform: uppercase;
    color: #08605F;
    text-decoration: underline;
  }
  li{
    color: #2c3e50;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 1px;
    font-family: 'Raleway', serif;
    padding-top: 5px;
    padding-bottom: 5px;
  }
