*{
    margin: 0;
}



/*header*/
header nav {
    margin: 30px;
  }
  
  header nav ul {
    overflow: auto;
    list-style-type: none;
    height: 56px;
  }
  
  header nav ul li {
    height: 26px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #aaa;
    padding: 0 20px;
  }
  
  header nav ul li:last-child {
    border-right: none;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #ccc !important;
    font: 25px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
  
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  header nav ul li a:hover {
    color: #666!important;
    text-decoration: none!important;
  }
  
  header nav ul li.active a {
    font-weight: bold;
    color: #333!important;
}
header{
    display: flex!important;
    width: 100%;
    justify-content: space-between;
    background-color: #08605F;
    height: 80px;
}
  .logo{
      display: block;
      margin-left: 10%;
      margin-top: -18px;
    }
    #pp{
        margin-left: -20%;
        margin-bottom: 50%;
        width: 75px;
        border-radius: 50%;
        margin-top: 2%;
    }
    #logo img{
        height: 75px;
        width: 75px;
        border-radius: 50%;
        margin-bottom: -139%;
        margin-left: -60%;
    }
    
    
      li{
        color: #2c3e50;
        font-size: 18px;
        line-height: 30px;
        text-align: justify;
        letter-spacing: 1px;
        font-family: 'Raleway', serif;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    /*news*/
.global{
    margin-top: 30px;
}
.top{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.top img{
    margin: 10px 0px 0px 10px;
    padding:  10px 10px 10px 10px;
    background-color: #08605F;
    border-radius: 5PX;
}
.title{
    font-family: 'Nunito', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.title h1{
    font-size: 40px;
    padding-bottom: 5px;
    text-decoration: underline;
    color: #177e89;
    letter-spacing: 5px;
}
.title h2{
    font-size: 1.3em;
    padding-top: 3%;
}
.text{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    line-height: 30px;
}
/*footer*/
footer{
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #08605F;
}
.foot{
  list-style-type: disc;  
}
.foot li{
  color: white;
  font-size: 20px;
}
.foot li a{
  color: white;
  animation: 0.5s;
}
footer div{
  padding-left: 10px;
  padding-right: 10px;
}
footer div span{
  font-size: 2em;
  color: white;
  text-decoration: underline;
}
.foot li a:hover{
  text-decoration: underline;
}
.fa{
  text-decoration: none;
}