/*IMPORT SECTION*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

/*Gobal*/
*{
    margin: 0px;
    padding: 0px;
}
/*header*/
header nav {
  margin: 30px;
}

header nav ul {
  overflow: auto;
  list-style-type: none;
}

header nav ul li {
  height: 26px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

header nav ul li:last-child {
  border-right: none;
}

header nav ul li a {
  text-decoration: none;
  color: #ccc !important;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header nav ul li a:hover {
  color: #666!important;
  text-decoration: none!important;
}

header nav ul li.active a {
  font-weight: bold;
  color: #333!important;
}
header{
  display: flex!important;
  width: 100%;
  justify-content: space-between;
  background-color: #08605F;
  height: 80px;
}
.logo{
  display: block;
  margin-left: 10%;
  margin-top: -18px;
}
#pp{
  margin-left: -20%;
  margin-bottom: 50%;
  width: 75px;
  border-radius: 50%;
  margin-top: 2%;
}
#logo img{
height: 75px;
width: 75px;
border-radius: 50%;
margin-bottom: -190%;
margin-left: -60%;
}

/*body*/


.line{
    display:flex!important;
    justify-content: center!important;
    height: 100vh!important;
    background: whitesmoke!important;
    align-items: center!important;
  
}

.column{
  flex-basis: 50%!important;
}

button{
  width: 180px!important;
  color: #000!important;
  font-size: 12px!important;
  padding: 12px 0!important;
  background: #fff!important;
  border: 0!important;
  border-radius: 20px!important;
  outline: none!important;
  margin-top: 30px!important;

}

.card{
  height: 230px!important;
  width:200px!important;
  margin: 50px!important;
  box-shadow: 5px 5px 20px black!important;
  overflow: hidden!important;
  display:inline-block!important;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box!important;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center!important;
  background-size: cover!important;
}

.card .img{
  height: 500px!important;
  width:500px!important;
  width: 350px!important;
  border-radius: 3px!important;
  transition: .5s!important;
  
}
.intro{
  height: 70px!important;
  width: 350px!important;
  padding: 6px!important;
  box-sizing: border-box!important;
  position: absolute!important;
  bottom: 135px!important;
  background: rgb(27, 27, 27, .5)!important;
  color: white!important;
  transition: .5s!important;
  
}
h1{
    margin: 10px!important;
    font-size: 40px!important;
}

p{
  font-size: 20px!important;
  margin: 20px!important;
  visibility: hidden!important;
  opacity: 0!important;
}

span{
  font-weight: bold!important;
}

.card:hover{
  cursor: pointer!important;
}

.card:hover .intro{
  height: 220px!important;
  bottom: 240px!important;
  background: black !important;
}

.card:hover p{
  opacity: 1!important;
  visibility: visible!important;
}

.card:hover img{
  transform: scale(1.1) rotate(-3deg)!important;
}

/*footer*/
footer{
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #08605F;
}
.foot{
  list-style-type: disc;  
}
.foot li{
  color: white;
  font-size: 20px;
}
.foot li a{
  color: white;
  animation: 0.5s;
}
footer div{
  padding-left: 10px;
  padding-right: 10px;
}
footer div span{
  font-size: 2em;
  color: white;
  text-decoration: underline;
}
.foot li a:hover{
  text-decoration: underline;
}
